<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>850592807064-ulg3lgip3n0m3i636uscqkqo85dtr0t4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.850592807064-ulg3lgip3n0m3i636uscqkqo85dtr0t4</string>
	<key>API_KEY</key>
	<string>AIzaSyCqXJpR0D3_Pe--z23UAY1sZ1J8CvIOmao</string>
	<key>GCM_SENDER_ID</key>
	<string>850592807064</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.docmo</string>
	<key>PROJECT_ID</key>
	<string>doc-mo-7e24c</string>
	<key>STORAGE_BUCKET</key>
	<string>doc-mo-7e24c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850592807064:ios:ecf47d956a1f02e0cc78ed</string>
</dict>
</plist>